<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta name="description" content="{{ site.description }}">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
    {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
    {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

  <!-- CSS -->
  <link id="theme-style" rel="stylesheet" href="{{ "/assets/scss/main.css" | prepend: site.baseurl }}">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ "/assets/favicon.ico" | prepend: site.baseurl }}">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
    href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  {% if site.google_analytics %} {% include google_analytics.html %} {% endif %}
</head>

<body data-bs-theme="dark">
  <header class="header text-center">
    <h1 class="blog-name pt-lg-4 mb-0"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
        aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navigation" class="collapse navbar-collapse flex-column">
        <div class="profile-section pt-3 pt-lg-0">
          <img class="profile-image mb-3 rounded-circle mx-auto"
            src="{{ "/assets/images/profile.png" | prepend: site.baseurl }}" alt="image">
          <div class="bio mb-3 text-secondary">I am Elmurod Talipov, a system software engineer.<br><a href="/about" class="text-primary">Find out more
              about me</a></div>
          <!--//bio-->
          <ul class="social-list list-inline py-3 mx-auto">
            <li class="list-inline-item"><a href="https://twitter.com/{{ site.social.twitter }}" class="text-secondary"><i
                  class="bi bi-twitter-x"></i></a></li>
            <li class="list-inline-item"><a href="https://www.linkedin.com/in/{{ site.social.linkedin }}" class="text-secondary"><i
                  class="bi bi-linkedin"></i></a></li>
            <li class="list-inline-item"><a href="https://github.com/{{ site.social.github }}" class="text-secondary"><i
                  class="bi bi-github"></i></a></li>
          </ul>
          <!--//social-list-->
          <hr class="border-secondary opacity-25">
        </div>
        <!--//profile-section-->
        <ul class="navbar-nav flex-column text-left">
          {% for link in site.navigation %}
          {% assign current = nil %}
          {% assign active = nil %}
          {% if page.url contains link.url or forloop.first and page.url == '/' or page.url == 'index.html' %}
          {% assign current = 'current' %}
          {% assign active = 'active' %}
          {% endif %}
          <li class="nav-item {% if forloop.first %}first{% endif %} {{ active }} {% if forloop.last %}last{% endif %}">
            <a class="nav-link" href="{{ link.url | prepend: site.baseurl }}">
              <i class="{{ link.icon }} me-2"></i>{{ link.title }}{% if current %}
              <span class="visually-hidden">({{ current }})</span>{% endif %}
            </a>
          </li>
          {% endfor %}
        </ul>

      </div>
    </nav>
  </header>
