---
layout: default
---

<!-- Plugin CSS -->
<link id="code-style" rel="stylesheet" href="{{ "/assets/css/syntax.css" | prepend: site.baseurl }}">

<article class="blog-post px-3 py-5 p-md-5">
  <div class="container card p-4 p-md-5 shadow-sm border-0">
    <header class="blog-post-header mb-4">
      <h1 class="title mb-2 text-primary">{{ page.title }}</h1>
      <div class="meta mb-3 text-secondary">
        <span class="date me-3"><i class="bi bi-calendar3 me-1"></i>{{ page.date | date: '%B %d, %Y' }}</span>
        <span class="time"><i class="bi bi-clock me-1"></i>{{ page.content | number_of_words | divided_by:180 }} min read</span>
      </div>
    </header>
    <div class="blog-post-body text-secondary" style="text-align: justify; line-height: 1.8;">
      {{ content }}
    </div>

    <nav class="blog-nav nav nav-justified my-5">
      {% if page.previous %}
      {% assign previous = page.previous %}
      <a class="nav-link-prev nav-item nav-link btn btn-outline-secondary rounded-pill me-2" href="{{site.baseurl}}{{previous.url}}"
        title="Previous Post: {{previous.title}}"><i class="bi bi-arrow-left me-2"></i>Previous</a>
      {% endif %}

      {% if page.next %}
      {% assign next = page.next %}
      <a class="nav-link-next nav-item nav-link btn btn-outline-secondary rounded-pill ms-2" href="{{site.baseurl}}{{next.url}}"
        title="Next Post: {{next.title}}">Next<i class="bi bi-arrow-right ms-2"></i></a>
      {% endif %}
    </nav>
  </div>
</article>

<!-- Custom JS -->
<script src="{{ "/assets/js/blog.js" | prepend: site.baseurl }}"></script>
